.highlight { 
  background: #FFCC99;
}

.taggedEntity:before {
  /* content: '{'; */
}

.taggedEntity:after {
  /* content: '}'; */
}

.taggedEntity {
  position: relative;
  /* background: #CC99CC; */
  border-bottom: 2px solid #0078D4;;
}

.entityName {
  position: absolute;
  top: 1.25rem;
  left: 0;
  color: #0078D4;
  font-size: 0.625rem;
}